#about {
  @include breakpoint($breakpoint-laptop) {
    margin-top: 30px;
  }

  @include breakpoint($breakpoint-mobile--large) {
    padding: 45px 0;
  }

  padding: 90px 0;
  background-color: $palette-gray;
}
