section#contact {
}

.contact {
  &__email {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 45px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--largest + 4px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      font-size: $font-size__text--largest + 2px;
    }

    display: inline-block;
    margin-bottom: 70px;

    color: $color-text__black;

    font-weight: $weight-Bold;
    font-size: $font-size__title--small + 12px;
  }

  &__address {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--largest + 2px;
    }

    font-size: $font-size__title--small - 4px;
  }

  &__row {
    &:not(:last-child) {
      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 60px;
      }

      margin-bottom: 80px;
    }
  }

  &__title {
    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 12px;
      font-size: $font-size__text--large;
    }

    margin-bottom: 25px;

    color: $color-text__gray;
    font-size: $font-size__title--small - 4px;
  }

  &__icon {
    filter: drop-shadow(0 0 11px rgba(#c8c8c8, 0.4));

    @media (hover: hover) {
      &:hover {
        circle {
          fill: $palette-white;
        }

        path {
          fill: $palette-blue;
        }
      }
    }
  }
}
