section#experience {
  @include breakpoint($breakpoint-mobile--large) {
    .textblock__content {
      br {
        display: none;
      }
    }

    .textblock__action--mobile {
      margin-top: 40px;

      .button {
        justify-content: space-between;
        width: 100%;
      }

      .button__arrow {
        width: 20px;
        height: 20px;
      }
    }
  }

  .section__header {
    position: sticky;
    top: 70px;

    padding-bottom: 32px;
  }
}
