section#guarantee {
  @include breakpoint($breakpoint-tablet--large) {
    margin-top: 30px;

    .textblock__action--mobile {
      margin-top: 30px;
    }
  }

  @include breakpoint($breakpoint-mobile--large) {
    .textblock__action--mobile {
      margin-top: 60px;

      .button {
        justify-content: space-between;
        width: 100%;
      }

      .button__arrow {
        width: 20px;
        height: 20px;
      }
    }
  }

  margin-top: 90px;
  padding-top: 0;
}

.guarantee {
  .section__header {
    @include breakpoint($breakpoint-tablet--large) {
      padding-bottom: 0;
    }

    position: sticky;
    top: 70px;

    padding-bottom: 32px;
  }
}
