section#hero {
  @include breakpoint($breakpoint-laptop) {
    max-height: 420px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    max-height: 450px;
    padding-bottom: 30px;
  }

  display: flex;
  align-items: center;
  height: calc(100vh - ($header-height + 90px));
}

.hero {
  position: relative;

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--medium + 10px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      br {
        display: none;
      }
    }

    font-weight: $weight-Regular;
    font-size: $font-size__title--large;

    line-height: $line-height--secondary;

    span {
      color: $color-text__cyan;
      font-weight: $weight-Bold;
    }
  }

  &__action {
    .button {
      position: absolute;

      font-weight: $weight-Bold;
      font-size: $font-size__text--largest + 2px;

      &:first-child {
        @include breakpoint($breakpoint-laptop) {
          top: 43%;
          right: 0;
        }

        @include breakpoint($breakpoint-tablet--large) {
          top: initial;
          right: 60px;
          bottom: 15px;
        }

        top: 50%;
        right: 55px;
      }

      &:nth-child(2) {
        @include breakpoint($breakpoint-laptop) {
          right: 420px;
          bottom: 15px;
        }

        @include breakpoint($breakpoint-tablet--large) {
          right: initial;
          bottom: -80px;
          left: -10px;
        }

        right: 500px;
        bottom: 25px;
      }

      &:nth-child(3) {
        @include breakpoint($breakpoint-laptop) {
          right: 0;
          bottom: 15px;
        }

        @include breakpoint($breakpoint-tablet--large) {
          right: 60px;
          bottom: -80px;
        }

        right: 55px;
        bottom: 25px;
      }
    }
  }
}
