section#hero {
  @include breakpoint($breakpoint-laptop) {
    max-height: 420px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    max-height: 450px;
    padding-bottom: 30px;
  }

  @include breakpoint($breakpoint-mobile--large) {
    height: initial;
    max-height: initial;

    padding-top: 65px;
  }

  display: flex;
  align-items: center;
  height: calc(100vh - ($header-height + 90px));
}

.hero {
  position: relative;

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--medium + 10px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 40px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      font-size: 32px;
    }

    font-weight: $weight-Regular;
    font-size: $font-size__title--large;

    line-height: $line-height--secondary;

    span {
      color: $color-text__cyan;
      font-weight: $weight-Bold;
    }
  }

  &__action {
    @include breakpoint($breakpoint-mobile--large) {
      margin-top: 36px;
    }

    .button {
      @include breakpoint($breakpoint-mobile--large) {
        position: relative;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;

        justify-content: space-between;
        padding-right: 0;
        padding-left: 0;

        font-size: $font-size__text--big;

        &::after {
          width: 100%;
        }

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }

      position: absolute;

      font-weight: $weight-Bold;
      font-size: $font-size__text--largest + 2px;

      &:first-child {
        @include breakpoint($breakpoint-laptop) {
          top: 43%;
          right: 0;
        }

        @include breakpoint($breakpoint-tablet--large) {
          top: initial;
          right: 60px;
          bottom: 15px;
        }

        top: 50%;
        right: 70px;
      }

      &:nth-child(2) {
        @include breakpoint($breakpoint-laptop) {
          right: 420px;
          bottom: 15px;
        }

        @include breakpoint($breakpoint-tablet--large) {
          right: initial;
          bottom: -80px;
          left: -10px;
        }

        right: 500px;
        bottom: 25px;
      }

      &:nth-child(3) {
        @include breakpoint($breakpoint-laptop) {
          right: 0;
          bottom: 15px;
        }

        @include breakpoint($breakpoint-tablet--large) {
          right: 60px;
          bottom: -80px;
        }

        right: 70px;
        bottom: 25px;
      }
    }
  }
}
