#service {
  @include breakpoint($breakpoint-tablet--large) {
    margin-top: 30px;
    padding-top: 60px;
  }

  margin-top: 100px;
  padding-top: 80px;
}

.service {
  &__card {
    @include breakpoint($breakpoint-laptop) {
      height: 180px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 205px;
    }

    position: relative;

    height: 205px;
    padding: 30px 16px;

    background-color: $palette-cyan;
    color: $color-text__white;

    @media (hover: hover) {
      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background: linear-gradient(
          165.11deg,
          rgba(0, 167, 142, 0.2) 3.89%,
          rgba(147, 15, 227, 0.2) 67.65%
        ),
        #00a78e;

      opacity: 0;
      visibility: hidden;

      transition: $transition ease;
    }

    &--gray {
      background-color: $palette-gray;
      color: $color-text__black;

      &::after {
        content: none;
      }

      .service__wrapper {
        align-items: center;
        justify-content: center;
      }

      .service__title {
        font-weight: $weight-Regular;
      }

      .service__action {
        margin-top: 20px;
      }
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--largest;
    }

    font-size: $font-size__text--largest;
  }

  &__action {
    margin-top: auto;
  }

  .button__text {
    font-size: 18px;
  }
}
