.input {
  position: relative;

  &--box {
    .input__label {
      display: block;
      margin-bottom: 16px;

      color: $color-text__gray;
      font-weight: $weight-Medium;
      font-size: 24px;
    }

    .input__wrapper {
      position: relative;
      padding: 15px;

      border: 1px solid #e5e5e5;
      transition: 0.2s ease;
    }

    .input__field {
      border: none;

      font-weight: $weight-Regular;
      font-size: $font-size__text--big;

      resize: none;
    }

    .input__warning {
      top: 25px;
      right: 15px;
    }
  }

  &--placeholder {
    .input__placeholder {
      opacity: 1;
      visibility: visible;
    }
  }

  &--error {
    border-color: $input__border--error !important;

    .input__field {
      border-bottom-color: $input__border--error;
    }

    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &:focus {
    .input__placeholder {
      display: none;
    }
  }

  &__field {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--regular;
    }

    width: 100%;

    padding-bottom: 10px;

    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;

    background-color: transparent;

    font-weight: $weight-Medium;
    font-size: 24px;

    transition: 0.2s ease;

    &--box {
      width: 100%;
      resize: none;
    }

    &::placeholder {
      color: $color-text__gray;
    }
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 0;

    // width: 26px;
    // height: 26px;

    opacity: 0;
    visibility: hidden;

    cursor: help;
    transform: translateY(-50%);

    transition: 0.2s ease;
  }
}
