// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  @include breakpoint($breakpoint-tablet--large) {
    margin-top: 80px;
  }

  margin-top: 180px;
  background-color: $palette-cyan;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
}
