// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  background-color: $palette-cyan;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 180px;
  padding: 20px 0;
}
