// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  width: 100%;

  background-color: $palette-white;
  box-shadow: $shadow;
}

.header {
  display: flex;
  align-items: center;
  height: $header-height;

  &__logo {
    @include breakpoint($breakpoint-tablet) {
      margin-right: auto;
      margin-left: 0;
    }

    margin-left: auto;
  }

  &__nav {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__action {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    .button {
      @include breakpoint($breakpoint-laptop) {
        font-size: $font-size__text--regular;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__text--small;
      }

      &__arrow {
        @include breakpoint($breakpoint-tablet--large) {
          width: 10px;
          height: 10px;
        }
      }
    }
  }

  &__mobile {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    display: none;
  }
}
