// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  width: 100%;

  background-color: $palette-white;
  box-shadow: $shadow;
}

.header {
  display: flex;
  align-items: center;
  height: $header-height;

  &__logo {
    margin-left: auto;
  }

  &__action {
    margin-left: -15px;
  }
}
