// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  width: 100%;

  background-color: $palette-white;
  box-shadow: $shadow;
}

.header {
  display: flex;
  align-items: center;
  height: $header-height;

  &__logo {
    @include breakpoint($breakpoint-mobile--large) {
      margin-right: auto;
      margin-left: 0;
    }

    margin-left: auto;
  }

  &__nav {
    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__action {
    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }

    margin-left: -15px;
  }

  &__mobile {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    display: none;
  }
}
