.mobile-menu {
  position: fixed;
  z-index: 40;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  height: 100vh;

  visibility: hidden;

  &--open {
    visibility: visible;

    .mobile-menu__overlay {
      opacity: 1;
      visibility: visible;
    }

    .mobile-menu__container {
      top: 0;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;

    background-color: rgba($color: #000000, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;

    transition: 0.3s ease;
  }

  &__container {
    position: absolute;
    top: -100%;
    left: 0;

    width: 100%;
    height: 100vh;

    background-color: $palette-white;
    transition: 0.5s ease;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    overflow: auto;

    width: 100%;
    height: 100%;

    padding: 90px 30px 40px;
  }

  &__action {
    display: flex;
    justify-content: center;

    .button__text {
      font-weight: $weight-Medium;
    }
  }

  &__email {
    display: block;
    margin: auto auto 12px;

    font-weight: $weight-Bold;
    font-size: $font-size__text--largest;
  }

  &__title {
    margin-bottom: 12px;
    color: $color-text__gray;

    font-weight: $weight-Bold;
    text-align: center;
  }

  &__contact {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 55px;
    height: 55px;
  }
}
