// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    @include breakpoint($breakpoint-laptop) {
      margin-right: 30px;
      font-size: $font-size__text--regular;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-right: 20px;
      font-size: $font-size__text--small;
    }

    margin-right: 60px;
  }

  &__link {
    padding: 10px 0;
    transition: $transition ease;

    @media (hover: hover) {
      &:hover {
        color: $color-text__cyan;
      }
    }
  }
}
