.modal-callback {
  .modal__overlay {
    overflow: auto;
  }

  .modal__overflow {
    width: 100%;
    max-width: 760px;
    height: 95%;
  }

  .modal__container {
    padding-bottom: 45px;
  }

  .modal__header {
    padding: 75px 0 50px;

    background-color: $palette-cyan;
    color: $color-text__white;
    text-align: center;
  }

  .modal__form {
    max-width: 475px;
    margin: 40px auto 0;
  }
}
