.modal-language {
  .modal__container {
    @include breakpoint($breakpoint-laptop) {
      max-width: 920px;
    }

    max-width: 1080px;
    padding: 70px 30px 70px 50px;
  }

  .modal__content {
    overflow: auto;
    height: 60vh;

    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }

  .modal__close path {
    stroke: $palette-black;
  }

  .modal__heading {
    margin-bottom: 30px;
    color: $color-text__cyan;

    font-weight: $weight-Bold;
    font-size: $font-size__title--small;
  }

  .modal__list {
    li {
      font-size: $font-size__text--large;
    }

    li:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
