.modal-success {
  .modal__container {
    max-width: 760px;
    background-color: $color-text__cyan;
    color: $color-text__white;
  }

  .modal__content {
    @include breakpoint($breakpoint-mobile--large) {
      height: 210px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 510px;

    text-align: center;
  }

  .modal__title {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--large + 4px;
    }

    margin-bottom: 15px;
    font-size: $font-size__title--small;
  }

  .modal__text {
    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__title--small - 8px;
    }

    font-weight: $weight-Bold;
    font-size: $font-size__title--small + 10px;
  }
}
