section#language {
  overflow: hidden;

  .section__header {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 30px;
    }
  }
}

.language {
  @include breakpoint($breakpoint-tablet--large) {
    position: relative;
    padding-bottom: 80px;
  }

  .col-3 {
    position: relative;
    z-index: 5;

    background-color: $palette-white;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: -12px;

      display: block;
      width: 12px;
      height: 100%;

      background-color: $palette-white;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;

      display: block;
      width: 100vw;
      height: 100%;

      background-color: $palette-white;
    }
  }

  &__slider {
    background-color: $palette-cyan;
  }

  &__control {
    @include breakpoint($breakpoint-tablet--large) {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
    }

    position: relative;
    margin-top: auto;
  }
}
