.textblock {
  &__content {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__text--big;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__text--regular;
    }

    font-size: $font-size__text--large;

    &:not(:last-child) {
      @include breakpoint($breakpoint-laptop) {
        margin-bottom: 45px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 30px;
      }

      margin-bottom: 65px;
    }
  }

  &__picture {
    @include breakpoint($breakpoint-mobile--large) {
      max-width: 420px;
    }

    position: sticky;
    top: $header-height + 15px;
  }

  &__title {
    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__title--small + 6px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 36px;
    }

    color: $color-text__cyan;

    font-weight: $weight-Regular;
    font-size: 69px;

    &--small {
      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-size__title--small - 4px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: 25px;
      }

      margin-bottom: 10px;

      font-weight: $weight-Bold;
      font-size: $font-size__title--small;
    }
  }

  &__action {
    margin-top: auto;

    &--mobile {
      @include breakpoint($breakpoint-laptop) {
        display: block;
      }

      display: none;
    }

    &--laptop {
      @include breakpoint($breakpoint-laptop) {
        display: none;
      }
    }
  }
}
