.form-callback {
  .input {
    &:not(:last-child) {
      @include breakpoint($breakpoint-mobile--large) {
        margin-bottom: 25px;
      }

      margin-bottom: 20px;
    }
  }

  .form__action {
    margin-top: 20px;
  }
}
