// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-gray: #f8f8f8;
$palette-cyan: #00a78e;
$palette-black: #000000;

// Цветовая палитра текста
$color-text__black: #000000;
$color-text__cyan: #00a78e;
$color-text__gray: #c4c4c4;
$color-text__white: #ffffff;

// Цветовая палитра компонентов
$component-color__blue: #1e899f;
