.section {
  &:not(:first-child) {
    margin-top: 180px;
  }

  &__header {
    margin-bottom: 45px;
  }

  &__title {
    color: $color-text__gray;
    font-size: $font-size__title--medium;
    line-height: $line-height--secondary;
  }

  &__subtitle {
    color: $color-text__cyan;

    font-weight: $weight-Regular;
    font-size: $font-size__title--small;
  }
}
