.section {
  &:not(:first-child) {
    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 60px;
      padding-top: 60px;
    }

    margin-top: 100px;
    padding-top: 80px;
  }

  &__header {
    margin-bottom: 45px;
  }

  &__title {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--medium - 16px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__title--medium;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__title--small - 4px;
    }

    color: $color-text__gray;
    font-size: $font-size__title--medium;
    line-height: $line-height--secondary;
  }

  &__subtitle {
    @include breakpoint($breakpoint-laptop) {
      font-size: $font-size__title--small - 8px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-size__title--small;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: $font-size__text--large;
    }

    color: $color-text__cyan;

    font-weight: $weight-Regular;
    font-size: $font-size__title--small;
  }
}
