.button {
  position: relative;

  display: flex;
  align-items: center;

  border: none;
  outline: none;

  background-color: transparent;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition ease;

  &__arrow {
    margin-left: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 50%;

    width: calc(100% - 30px);
    height: 1px;

    background-color: $palette-black;
    transform: translateX(-50%);
    transition: $transition ease;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
