.button-primary {
  padding: 7px 0;

  &:hover {
    padding: 7px 15px;

    background-color: $component-color__blue;
    color: $color-text__white;

    &::after {
      background-color: $component-color__blue;
    }

    .button__arrow path {
      fill: $color-text__white;
    }
  }
}
