.button-secondary {
  padding: 12px 0;
  color: $color-text__white;

  font-weight: $weight-Bold;
  font-size: $font-size__text--largest + 2px;

  &:hover {
    padding: 12px 15px;

    background-color: $palette-white;
    color: $color-text__cyan;

    .button__arrow path {
      fill: $color-text__cyan;
    }
  }

  .button__arrow path {
    fill: $color-text__white;
  }

  &::after {
    width: 100%;
    background-color: $color-text__white;
  }

  &--cyan {
    color: $color-text__cyan;

    &:hover {
      background-color: $palette-cyan;
      color: $color-text__white;

      .button__arrow path {
        fill: $color-text__white;
      }
    }

    .button__arrow path {
      fill: $color-text__cyan;
    }

    &::after {
      background-color: $color-text__cyan;
    }
  }

  &--black {
    color: $color-text__black;

    @media (hover: hover) {
      &:hover {
        background-color: $palette-cyan;
        color: $color-text__white;

        .button__arrow path {
          fill: $color-text__white;
        }

        &::after {
          background-color: $color-text__cyan;
        }
      }
    }

    .button__arrow path {
      fill: $color-text__black;
    }

    &::after {
      background-color: $color-text__black;
    }
  }
}
